<div class="container">
  <div class="card-group" >
    <div class="card" *ngFor="let rest of Rests">
      <img class="card-img-top" src="{{rest.image}}" alt="{{rest.name}}" style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">{{rest.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="small text-center">Service</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-danger" type="button" id="minus" (click)="onClickMinus(rest.id, 'voteser')"><i class="fa fa-thumbs-down"></i></button>
            </div>
            <input type="text" id="voteser" class="form-control text-center" value="{{rest.quality.service}}">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary" type="button" id="add" (click)="onClickAdd(rest.id, 'voteser')"><i class="fa fa-thumbs-up"></i></button>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <p class="small text-center">Room</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-danger" type="button" id="minus" (click)="onClickMinus(rest.id, 'votesal')"><i class="fa fa-thumbs-down"></i></button>
            </div>
            <input type="text" id="votesal" class="form-control text-center" value="{{rest.quality.salle}}">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary" type="button" id="add" (click)="onClickAdd(rest.id, 'votesal')"><i class="fa fa-thumbs-up"></i></button>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <p class="small text-center">Foods</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-danger" type="button" id="minus" (click)="onClickMinus(rest.id, 'votenou')"><i class="fa fa-thumbs-down"></i></button>
              </div>
              <input type="text" id="votenou" class="form-control text-center" value="{{rest.quality.nourriture}}">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" id="add" (click)="onClickAdd(rest.id, 'votenou')"><i class="fa fa-thumbs-up"></i></button>
              </div>
            </div>
          </li>
        </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="vote(rest)" onclick="window.location.reload()">Vote <i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
