  <h1 class="text-center">Vote for your best restaurant</h1>
  <div class="card-group" *ngFor="let rest of Rests">
    <div class="card" style="width: 50px; margin:4px;">
            <img class="card-img-top" src="http://www.brainelalleudcity.be/custom_storage/shop_pictures/machawibbq/machawi_bbq_brabant_wallon_20180313_8708.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{rest.name}}</h5>
              <p class="card-text">Desc</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p align="center">Service</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-danger" type="button" id="button-addon1">-</button>
                  </div>
                  <input type="text" class="form-control" aria-describedby="button-addon1" value="1">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1">+</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <p align="center">Salle</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-danger" type="button" id="button-addon1">-</button>
                  </div>
                  <input type="text" class="form-control" aria-describedby="button-addon1" value="1">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1">+</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <p align="center">Nouritures</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-danger" type="button" id="button-addon1">-</button>
                  </div>
                  <input type="text" class="form-control" aria-describedby="button-addon1" value="1">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-addon1">+</button>
                  </div>
                </div>
              </li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-lg btn-block">Vote</button>
            </div>
          </div>
  </div>
