<app-layout>
  <div class="container">
    <h1 class="text-center text-light">Vote for your best restaurant</h1>
    <div class="card-group">
      <div class="card" style="width: 15rem; margin:4px;">
        <img class="card-img-top" src="http://www.brainelalleudcity.be/custom_storage/shop_pictures/machawibbq/machawi_bbq_brabant_wallon_20180313_8708.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="radio" aria-label="Radio button for following text input">
                </div>
              </div>
              <p>Help</p>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</app-layout>
